{% extends 'base.html' %}

{% block styles %}

{% endblock %}


{% block title %}
Index
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h3>Index.html</h3>

      <!-- <p class="lead">This is the index page for an example Flask app using Bootstrap and WTForms.</p> -->

      <!-- <p class="space-above"><strong>{{ message }}</strong></p> -->
      <h1>Video Streaming Demonstration</h1>
      <button id="bkgr" type="button" class="btn btn-primary">Save bkground image</button>

    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript"
        src="{{ url_for('static', filename='js/demo/save_image.js') }}"></script>
{% endblock %}